<header>
    <img src="" alt="">
    <h1>The Ev Programming Language</h1>
</header>
<br>
<main id="main">
    <nav id="section-container">
        <app-section id="sect" sectionName="Introduction"></app-section>
        <app-section id="sect" sectionName="If Statement"></app-section>
        <app-section id="sect" sectionName="While Statement"></app-section>
        <app-section id="sect" sectionName="Variables"></app-section>
        <app-section id="sect" sectionName="Functions"></app-section>
        <app-section id="sect" sectionName="Random"></app-section>
        <app-section id="sect" sectionName="Scope"></app-section>
        <app-section id="sect" sectionName="Input and Output"></app-section>
        <app-section id="sect" sectionName="Memory"></app-section>
        <app-section id="sect" sectionName="Abort"></app-section>
        <app-section id="sect" sectionName="Strings"></app-section>
        <app-section id="sect" sectionName="Extras"></app-section>
    </nav>
    <iframe id="ifr" src="assets/introduction.html" frameborder="0"></iframe>
    <article id="dl">
        <h2>Get started with the Ev programming language now!</h2><br>
        <a class="dlbtn" href="assets/ev_interpreter.exe" download="ev_interpreter.exe">Download the Ev Interpreter</a>
        <a class="dlbtn" href="https://github.com/Evryon75/EvCalc">Calculator in Ev</a>
    </article>
</main>
<footer>
        <a href="https://github.com/Evryon75">Evryon Github Profile</a><br>
        <a href="https://github.com/Evryon75/Ev-Interpreter">Ev Lang Repository</a><br>
        <a href="https://github.com/Evryon75/Ev-Lang-Documentation">Ev Lang Documentation Repository</a><br>
</footer>
<!-- 
    <pre>
        <span style="color: rgb(184, 73, 0)">while</span> x == <span style="color: rgb(255, 102, 0)">5</span> {{"{"}}
            <span style="color: rgb(0, 132, 255)">output</span>(<span style="color: lightgreen">"hello, world!"</span>);
        {{"}"}};
    </pre>
-->