<header>
    <img src="" alt="">
    <h1>Programming Language</h1>
</header>
<br>
<main>
    <nav id="section-container">
        <app-section id="sect" sectionName="Introduction"></app-section>
        <app-section id="sect" sectionName="If Statement"></app-section>
        <app-section id="sect" sectionName="While Statement"></app-section>
        <app-section id="sect" sectionName="Variables"></app-section>
        <app-section id="sect" sectionName="Functions"></app-section>
        <app-section id="sect" sectionName="Random"></app-section>
        <app-section id="sect" sectionName="Scope"></app-section>
        <app-section id="sect" sectionName="Input and Output"></app-section>
        <app-section id="sect" sectionName="Memory"></app-section>
        <app-section id="sect" sectionName="Abort"></app-section>
        <app-section id="sect" sectionName="Strings"></app-section>
        <app-section id="sect" sectionName="Details"></app-section>
    </nav>
</main>
<!-- 
    <pre>
        <span style="color: rgb(184, 73, 0)">while</span> x == <span style="color: rgb(255, 102, 0)">5</span> {{"{"}}
            <span style="color: rgb(0, 132, 255)">output</span>(<span style="color: lightgreen">"hello, world!"</span>);
        {{"}"}};
    </pre>
-->