button {
    color: white;
    border-color: cyan;
    background-color: black;
    height: 50px;
    width: 50px;
    border-radius: 10px;
    border-style: dotted;
}
button:hover {
    animation-duration: 200ms;
    animation-name: hovery;
    border-color: red;
    height: 60px;
    width: 60px;
    border-radius: 15px;
}
button:active {
    border-color: darkred;
}
button:not(:hover) {
    animation-duration: 200ms;
    animation-name: nohovery;
}
@keyframes hovery { 
    from { 
        border-color: cyan;
        height: 50px;
        width: 50px;
        border-radius: 10px;
    }
    to {
        border-color: red;
        height: 60px;
        width: 60px;
        border-radius: 15px;
    }
}
@keyframes nohovery { 
    from { 
        border-color: red;
        height: 60px;
        width: 60px;
        border-radius: 15px;
    }
    to {
        border-color: cyan;
        height: 50px;
        width: 50px;
        border-radius: 10px;
    }
}